@model IList<CraftyKnockoutMvc.Models.FamousCoder>
@{
    ViewBag.Title = "HallOfFame";
}

<!-- Add a hidden field with the list in JSON form. Knockout can then use this to seed the view model-->
@Html.Hidden("initialCoderListJson", @Html.Raw(Json.Encode(Model)))


<h2>Hall Of Fame</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Crafty Coders Hall of Fame</h3>
        <div class="rightalign">
            <button type="button" class="btn btn-default" data-bind="click: SortCoders">
                <span class="glyphicon glyphicon-sort"></span>
            </button>
        </div>
    </div>

    <div class="panel-body">

        <ul class="list-group" data-bind="template: { name: 'coderrowtemplate', foreach: FamousCoders }"></ul>

        <!-- Knockout Template -->
        <script type="text/html" id="coderrowtemplate">

            <!-- the CSS binding provides the ability to determine css classes based on the view model-->
            <a href="#" data-bind="css: {'list-group-item': true }">

                <span class="badge" data-bind="text: FameScore"></span>
                <h4 class="list-group-item-heading" data-bind="text: CoderName"></h4>
                <p class="list-group-item-text" data-bind="text:FamousFor"></p>
                <span data-bind="text:$index"></span>
            </a>

        </script>

    </div>
</div>
 
@section Scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/IntegrationWithMvc/HallOfFame.js")
}