<h2>Observables II - Computed</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Example Calculator</h3>
            </div>
            <div class="panel-body ">

                <span>Net Amount:</span>
                <div class="input-group">
                    <span class="input-group-addon">£</span>
                    <input class="form-control rightalign" data-bind="value: NetPrice, valueUpdate: 'keyup', hasfocus: true" />
                </div>


                <span>Vat Rate:</span>
                <div class="input-group">
                    <span class="input-group-addon">%</span>
                    <input class="form-control rightalign" data-bind="value: VatRate, valueUpdate: 'keyup'" />
                </div>

                <hr />

                <span>Vat Amount:</span>
                <div class="input-group">
                    <span class="input-group-addon">£</span>
                    <input class="form-control rightalign" data-bind="value: VatAmount" readonly />
                </div>

                <span>Gross Amount:</span>
                <div class="input-group">
                    <span class="input-group-addon">£</span>
                    <input class="form-control rightalign" data-bind="value: GrossPrice" readonly />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="notes">
            TBC: Notes on computed
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/GettingStarted/Computed.js"></script>
}
