<h2>Simple Binding</h2>

<p>Binding is how we join the View to the View Model. Knockout provides a simple binding syntax using a html attribute.</p>

<div class="row">
    <div class="col-md-4">
        <p>Property Binding</p>
        <span data-bind="text: viewModelMessage"></span>
    </div>
    <div class="col-md-4">
        <p>Event Binding</p>
        <a data-bind="click: viewModelButton" class="btn btn-default">Click >></a>

    </div>
    <div class="col-md-4">
        <p>Multiple Bindings</p>
        <a data-bind="click: viewModelButton, text:viewModelMessage.toUpperCase()"></a>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/GettingStarted/HelloCraftyCoders.js"></script>
}