<h2>Observables I</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Observable</h3>
        <p>
            <input id="enter_text" class="form-control" data-bind="value: enteredText, valueUpdate: 'keyup'" />
        </p>
        <div data-bind="visible: enteredText().length > 0">
            <p>
                You have typed:<span data-bind="text: enteredText"></span>
            </p>
            <p>
                (<span data-bind="text: enteredText().length"></span> chars long)
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <h3></h3>
        <a class="btn btn-default" id="UpdateProperty" onclick="viewModel.enteredText = 'Changed property'">Update Property</a>
        <a class="btn btn-default" id="UpdateObserable" onclick="viewModel.enteredText('Changed function')">Update Observable</a>
    </div>
    <div class="col-md-4">
        <h3></h3>
        <div class="notes">
            If we just use the value binding the model is updated after tabing out of the field.
            By using valueUpdate we can specify the update of the model based on an event, in this case on keyup.
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/knockout-3.0.0.js"></script>
    <script src="~/Scripts/GettingStarted/Observable.js"></script>
}