@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Resources</h2>

<h3>Learning KnockoutJS</h3>
<p>Home of Knockout is here <a href="http://knockoutjs.com/">http://knockoutjs.com/</a> and is a great place to start.</p>
<p>
    Specifically the <a href="http://knockoutjs.com/documentation/introduction.html">introduction</a> is great, there is also a 20 min video to introduce the technology.
    Follow this up with the <a href="http://learn.knockoutjs.com/#/?tutorial=intro">interactive examples</a> provided by knockout.
</p>
<p>
    http://msdn.microsoft.com/en-us/magazine/hh781029.aspx - MSDN magazine article about getting started with knockout.
    John Pappa is a bit of a Knockout Guru. His blog <a href="http://www.johnpapa.net/">http://www.johnpapa.net/</a> is kinda useful.
    John Pappa presented at TechEd 2013 and you can watch the video here: http://channel9.msdn.com/Events/TechEd/NorthAmerica/2013/DEV-B338#fbid=0SAHeUPDKrY
    John Pappa has also put together a ~5 hour Pluralsight course here: http://pluralsight.com/training/Courses/TableOfContents?courseName=knockout-mvvm.  
</p>
<p>
    Brad Wilson put together a great demonstration using Knockout (and SignalR and WebAPI. What he calls the web stack of love) that can be watched here:  http://vimeo.com/43603472
</p>

<h3> Using Knockout with MVC</h3>
<p>
    http://lostechies.com/erichexter/2012/11/29/loading-knockout-view-models-from-asp-net-mvc/
</p>

<h3>Tools and Utilities</h3>
<p>
    - VS Intellisense
    - Chrome Plugin
</p>

