@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Resources</h2>

<h3>Learning KnockoutJS</h3>
<div class="list-group">
    <a href="http://knockoutjs.com/" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> KnockoutJS.com</h4>
        <p class="list-group-item-text">Home of Knockout is here  and is a great place to start.</p>
    </a>

    <a href="http://knockoutjs.com/documentation/introduction.html" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> knockoutjs.com/documentation/introduction</h4>
        <p class="list-group-item-text">The KnockoutJS introduction includes a 20 min video to introduce the technology.</p>
    </a>

    <a href="http://learn.knockoutjs.com/#/?tutorial=intro" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> Interactive Examples</h4>
        <p class="list-group-item-text">The KnockoutJS tutorial is an intercative web app that does a good job showing you the basics.</p>
    </a>

    <a href=http://www.knockmeout.net/" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> knockmeout.net</h4>
        <p class="list-group-item-text">The knockmeout.net blog is all about KnockoutJS</p>
    </a>

    <a href="http://www.johnpapa.net/" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> John Pappa</h4>
        <p class="list-group-item-heading">
            John Pappa has written extensivly about Knockout and other JavaScript frameworks.
            His blog has links to his adventures with this technology.
            He has also created a 5hour+ Pluralsight course on KnockoutJS.
        </p>
    </a>

    <a href="http://msdn.microsoft.com/en-us/magazine/hh781029.aspx" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> MSDN - Getting started with Knockout</h4>
        <p class="list-group-item-heading">MSDN magazine article about getting started with knockout.</p>
    </a>

    <a href="http://channel9.msdn.com/Events/TechEd/NorthAmerica/2013/DEV-B338#fbid=0SAHeUPDKrY" class="list-group-item">
        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-bookmark"></span> TechEd 2013 - The video</h4>
        <p class="list-group-item-heading">John Pappa presented at TechEd 2013 and you can watch the video on Channel 9</p>
    </a>

    <a href="http://vimeo.com/43603472" class="list-group-item">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-bookmark"></span> Web Stack of Love!
        </h4>
        <p class="list-group-item-text">Brad Wilson put together a great demonstration using Knockout (and SignalR and WebAPI. What he calls the web stack of love) that can be watched on Vimeo</p>
    </a>
</div>

@*<p>Creating a Dirty Flag in KnockoutJS - http://www.knockmeout.net/2011/05/creating-smart-dirty-flag-in-knockoutjs.html </p>*@

<h3> Using Knockout with MVC</h3>
<div class="list-group">
    <a href="http://lostechies.com/erichexter/2012/11/29/loading-knockout-view-models-from-asp-net-mvc/" class="list-group-item">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-bookmark"></span> Los Techies
        </h4>
        <p class="list-group-item-text">An article that specifically discusses using Knockout with MVC.</p>
    </a>
</div>


<h3>Tools and Utilities</h3>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-bookmark"></span> Visual Studio
        </h4>
        <p class="list-group-item-text">Did you know that Visual Studio comes with Intellisense for Knockout built in? VS 2013 improves this significantlty.</p>
    </a>

    <a href="https://chrome.google.com/webstore/detail/knockoutjs-context-debugg/oddcpmchholgcjgjdnfjmildmlielhof" class="list-group-item">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-bookmark"></span> Chrome Knockout Context Debugger
        </h4>
        <p class="list-group-item-text">
            There is a Chrome Plugin specifically for Knockout that helps debugging and event tracing.
            Visit the Chrome web store for the Knockout Context Debugger
        </p>
    </a>

    <a href="http://www.johnpapa.net/kolite1-1/" class="list-group-item">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-bookmark"></span> Knockout Lite Tools
        </h4>
        <p class="list-group-item-text">The Knockout Lite Tools (kolite) provide some useful additional behavours. Specifically targeting asynchronous requests and model tracking.</p>
    </a>
</div>
