@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Knockout vs VanilliaJS</h3>

<h3>Knockout vs AngluarJS</h3>

<h3>Knockout vs BackboneJS</h3>
http://stackoverflow.com/questions/10320074/why-does-knockout-js-have-a-reputation-for-being-better-for-small-projects-back?lq=1
http://stackoverflow.com/questions/12955337/angular-js-backbone-js-and-other-mv-patterned-js-libraries?rq=1
