@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>The Good</h2>
<ul>
    <li>Focused specific scope. it does not try to do it all</li>
    <li>Plays nicely with other JS frameworks as it is agnostic to them.</li>
    <li>Familiar binding pattern (to those developers who have worked with XAML at least)</li>
    <li>MIT license</li>
    <li>Visual Studio and typescript intelli-sense</li>
    <li>Support for all browsers</li>
    <li>Community support is quite good, with lots already written.</li>
    <li>
        There is lots of help out there. The knockout documentation is really quite good, where that stops stack overflow takes over.
        See @Html.ActionLink("resources", "Resources", "GettingStarted") page for a sample of what is out there.
    </li>
</ul>

<h2>The Bad</h2>
<ul>
    <li>The contents of the data-bind attributes are magic strings, type with care.</li>
    <li>You end up with some duplication of you models in JS and MVC.</li>
    <li>This is not a full SPA framework, if that is what you are after you'll need something else as well.</li>
</ul>


<h2>The Ugly</h2>
<ul>
    <li>Those darn brackets! I have lost so much time to forgetting them...... </li>
</ul>

@Html.ActionLink("Alternatives", "Comparisons", null, new { @class = "btn btn-default" })